body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  width: 60%;
  margin: auto;
}

.hidden {
  display: none;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.note {
  background: yellow;
  padding: 10px;
  margin: 10px;
}